body {
  background-color: transparent;
  font-family: helvetica,arial,"微軟正黑體",sans-serif;
  overflow: hidden;
  user-select: none;
  color:white;
  margin: 0;
}

.app {
  width: 100vw;
  height: 100vh;
}

.chat {
  position: fixed;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-weight: bold;
  overflow: hidden;
  word-break: normal;
  overflow-wrap: anywhere;
}

.info {
  display: inline-block;
  color: #b3e283;
}

.corner {
  position: fixed;
  width: 100px;
  height: 100px;
  background-color: #ffff00;
  border-radius: 50%;
  top: 0;
  left: 0;
  box-shadow: #ffff00 0px 0px 100px 100px;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.show {
  opacity: 1;
}

.fade {
  opacity: 0;
  transition: opacity 10s ease-in-out;
}
