body {
  background-color: transparent;
  font-family: helvetica,arial,"微軟正黑體",sans-serif;
  overflow: hidden;
  user-select: none;
  color:white;
  margin: 0;
}

.app {
  width: 100vw;
  height: 100vh;
}

.chat {
  position: fixed;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-weight: bold;
  overflow: hidden;
}

.info {
  display: inline-block;
  color: #b3e283;
}
